@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*imported fonts from Google Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*imported fonts from Google, Poppins*/

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
   /* background: rgba(238, 239, 241, 0.92);  */
   /*background: rgba(135, 206, 235, 0.5);*/ /*colors reserved for later*/
   /*background: rosybrown;*/ /*colors reserved for later*/
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: #E3F2FD; */
   background: rgba(238, 239, 241, 0.92);
   flex-direction: column;
   margin: 0;
   padding-bottom: 50px;
  
}

.accordion {
    max-width: 65%;  
    width: 100%;       
    background: #FFF;
    margin: 0 auto;  /*center the accordion in the middle*/
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content{
   background: #FFF7F0;
   border: 1px solid #FFD6B3;
   border-radius: 4px;
   margin: 10px 0;
   overflow: hidden;
}

.accordion-content header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 15px;
   min-height: 50px;
   /* background-color: red; */
   cursor: pointer;
}

.accordion-content .description{
   /* font-size: 12px; */
   font-size: 1em;
   color: #333;
   font-weight: 400;
   padding: 0 15px;
   height: 0;
   transition: all 0.2s linear;
}

.accordion-content header .title{
   /* font-size: 14px; */
   font-size: 1.15em;
   font-weight: 500;
   color: #333;
}

.accordion-content header i{
   /* font-size: 15px; */
   font-size: 1.15em;
   color: #333;
   transition: all 0.2s linear;
}

.accordion-content.open{
   padding-bottom: 10px;
}

.accordion-content.open header{
   min-height: 50px;
}

.accordion-content:nth-child(2){
   background-color: #F0FAFF;
   border-color: #CCEEFF;
}

.accordion-content:nth-child(3){
   background-color: #FFF0F3;
   border-color: #FFCCD6;
}

.accordion-content:nth-child(4){
   background-color: #F0F0FF;
   border-color: #CCCCFF;
}

#newheader {
    text-align: left;  /*align text to left*/
    margin: 20px 0px;  /*vertical spacing and left margin*/
    max-width: 65%;    /*match accordion's max width*/
    color: black;     
}

nav {
    width: 100%; /*make the nav take the full width*/
    display: flex; /*for alignment */
    justify-content: center; /*center the items horizontally */
    /* background-color: #f8f9fa;  */
    padding: 10px 0; /*add padding for spacing */
    position: absolute; /*make position absolute to hug the top */
    top: 2.32em; /*align to the top */
    left: 0; /*align to the left */
    z-index: 1000; /*ensure the navbar is on top of other content*/
    
}

nav ul {
    list-style-type: none; /*remove default list styles */
    padding: 0; 
    margin: 0; 
    display: flex; /*use flexbox for the list */
    gap: 3.275em;
}

nav a {
    color: rgb(150, 150, 150); 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

body {
    margin: 0; /*remove default margin from body*/
}

a:hover{
    opacity: 0.75;
}

#darkenabout{
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px;
    position: fixed; /* fix the footer to the bottom */
    left: 0; /* align to the left */
    bottom: 0; /* align to the bottom */
    width: 100%; /* make the footer full width */
    z-index: 1000; /* ensure the footer is above other content */
    margin-bottom: -10px;
}

#span1{
    /* padding: 50px; */
    word-spacing: 1em;
} 

#linkedin{
    /*word-spacing: 2em;*/
    color: rgb(96, 138, 163);
    text-decoration: none;
}

#github{
    color: rgb(96, 138, 163);
    text-decoration: none;
}

#namecolor{
    /*color: rgb(150, 150, 150);*/
    color: rgb(150, 150, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

img{
    width: 0.8em;
    height: 0.8em;
}

.footer img {
    width: 0.8em; /* Maintain the size of the image */
    height: 0.8em; /* Maintain the size of the image */
    margin-top: 5px;
}

@media (max-width: 1200px){
    nav ul{
        font-size: 0.75rem;
        gap: 1.75em;
    }

    .footer{
        font-size: 0.8rem;
        position: relative;
        margin-top: 50px;
    }

    .aboutme{
        font-size: 1.1rem;
        margin-left: 8.5%;
        margin-right: 8.5%;
        padding: 1rem;
    }

    #newheader{
        /* font-size: 1.65rem;
        position: relative; */
        color: transparent; /*hide text*/
        user-select: none; /*disallow user from highlighting stuff*/
    } 

    h2{
        margin-left: 9.5vw;
        font-size: 1.35rem;
        color: rgba(0, 0, 0, 0.55);
    } 

    .accordion-content header{
        padding: 15px;
     }
     
     .accordion-content .description{
        /* font-size: 12px; */
        font-size: 1em;
        color: #333;
        font-weight: 400;
        padding: 0 15px;
        height: 0;
        transition: all 0.2s linear;
     }

     .accordion{
        max-width: 80%;
     }

    
}

