@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*imported fonts from Google Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*imported fonts from Google, Poppins*/

body{
    background: rgba(238, 239, 241, 0.92);
    /*background: rgba(135, 206, 235, 0.5);*/ /*colors reserved for later*/
    /*background: rosybrown;*/ /*colors reserved for later*/
}

a{
    color: rgb(150, 150, 150); 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a:hover{
    opacity: 0.75; /*change opacity on hover for all links*/
}

.center{ /*header for all links*/
    text-align: center; 
    word-spacing: 3em;
    margin-top: 3em;
}

.footer{ /*footer alignment*/
    text-align: center;
    margin-top: 20vh;
}

#home{ /*the page the user is currently on is darker than the other links, style choice*/
    color: black;
}

h1{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    top: 18vh;
    margin-left: 20vw;
    position: static;
    color: black;
    font-size: 2em;
}

h2{
    font-family: 'Open Sans', sans-serif;
    top: 18vh;
    margin-left: 20vw;
    position: static;
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.05em;
}

#firstlink{ /*title for the main card on the page*/
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    display: inline;
}

#firstlink:hover{
    /*opacity: 0.8;*/
    color: rgb(96, 138, 163);
    text-decoration: underline;
    border-bottom: 1em;
}

.aboutme{ /*paragraph styling*/
    font-size: 0.90rem; /* Font size */
    line-height: 1.6; /*Line height for better eadability*/
    margin-left: 20%; /*Addding left margin for spacing*/
    margin-right: 20%; /*Addding right margin for spacing*/
    padding: 1rem; /*Padding for a "container effect"*/
    border-radius: 0.3rem; /*Rounded corners*/
    background: rgba(255, 255, 255); /*White background*/
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); /*Subtle box shadow */
    color: rgba(0, 0, 0, 0.848); /*Text color*/
    font-family: 'Open Sans', sans-serif; /*font family in most to least important order*/
    /*transition: transform 0.15s ease-in;*/ /*no animation for home page*/
}

/*.aboutme:hover{
    transform: scale(1.004);
    box-shadow: 0 0 1rem rgba(75, 75, 75, 0.615);
}*/

#p1{
    font-size: 1.15em;
    font-family: 'Open Sans', 'Poppins', sans-serif;
}

#p2{
    display: inline;
    word-spacing: 2em;
}

#linkedin{
    /*word-spacing: 2em;*/
    color: rgb(96, 138, 163);
}

#github{
    color: rgb(96, 138, 163);
}

img{
    width: 0.8em;
    height: 0.8em;
}

#span1{
    padding: 20px;
}

#namecolor{
    /*color: rgb(150, 150, 150);*/
    color: rgb(150, 150, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#education{
    color: rosybrown;
    border: 1px solid rosybrown;
    padding: 2px;
}

#nextheader{
    font-size: 1.25rem;
    display: inline;
}

#ind{
    color: black;
    border: 1px solid black;
    padding: 2px;
}

#paragraphnamecolor{
    color: rgb(96, 138, 163);
}

#emailcolor{
    color: rgb(96, 138, 163);
}

#emailcolor::selection{
    background: rgba(58, 131, 158);
    color: white;
}

@media (max-width: 1200px){
    .center{
        font-size: 1.45rem;
    }

    .footer{
        font-size: 1.45rem;
    }

    .aboutme #p1 #firstlink{
        font-size: 3rem;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3.65rem;
    }
}