@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: rgba(238, 239, 241, 0.92);
    /*background: rgba(135, 206, 235, 0.5);*/
}

a{
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a:hover{
    opacity: 0.75;
}

.center{
    text-align: center;
    word-spacing: 3em;
    margin-top: 3em;
}

.footer{
    text-align: center;
    margin-top: 20vh;
}

#home{ /*this is for the blog link*/
    color: black;
}

h1{
    font-family: 'Open Sans', sans-serif;
    top: 18vh;
    margin-left: 10vw;
    position: static;
    color: black;
}

#p1{
    /* Set a maximum width for better readability */
    font-size: 1.5rem !important;
    /* Adjust the font size */
    line-height: 1.6;
    /* Set a comfortable line height */
    margin-left: 10%;
    margin-right: 10%;
    /* Add some margin for spacing */
    padding: 1rem;
    /* Add padding for a container-like effect */
    border-radius: 0.5rem;
    /* Rounded corners for a stylish look */
    background: rgba(255, 255, 255);
    /* Semi-transparent white background */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    /* Add a subtle box shadow */
    color: rgba(0, 0, 0, 0.848);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: sans-serif;
}

#p2{
    display: inline;
    word-spacing: 2em;
}

#word1{
    word-spacing: 2em;
}

img{
    width: 0.8em;
    height: 0.8em;
}

#span1{
    padding: 20px;
}

#namecolor{
    color: rgb(150, 150, 150);
}
