@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*imported fonts from Google, Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*imported fonts from Google, Poppins*/

body{
    background: rgba(238, 239, 241, 0.92);
}


h1{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 8rem;
    color: black;
}

svg{
    /* margin-left: 50%; */
    display: block;
    margin: auto;
    margin-top: -4rem;
}

h2{
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    top: auto;
}

a{
    color: rgba(115, 115, 115, 0.9);
    text-decoration: none;
}

a{
    background:
        linear-gradient(
            to right,
            /* rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1) */
            black,
            black
        ),
        linear-gradient(
            to right, 
            /* rgba(255, 0, 0, 1), */
            /* rgba(255, 0, 180, 1), */
            /* rgba(0, 100, 200, 1) */
            rgba(132, 200, 136, 1),
            rgba(132, 200, 136, 1),
            rgba(132, 200, 136, 1)
        );

        background-size: 100% 2.5px, 0 2.5px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
}

a:hover{
    /* opacity: 0.75; */
    background-size: 0 3px, 100% 3px;
}